<style type="text/css">

  /*tr:hover {
    background: #FCF;
  }*/

</style>

<% 
    @useritems = @user.items 
    @count = @user.items.size
    @iterator = 0
%>

<br>

<div class="row-fluid">
  <div class="span2" style="margin-left: 15px">

    <% if @user.photo %>
      <div style="margin-bottom:50px">
        <%= image_tag @user.photo, :style => "height: 150px; width: 150px" %>
     </div>
    <% end %>

    <div id="profile_info_box">
      <!-- <div style="text-align:center">
        <b>Profile</b>
      </div>  -->
      <div style="position:absolute; left:4px">
        <% if @user.name %>
      <h4><%= @user.name %></h4 >
        <% end %>
     
      <%= @user.email %><br>
      id: <%= @user.id %>
      </div>
     
      <% if current_user.id == @user.id %>
      <div style="position:absolute; top: 0px; right: 10px">
        <%= link_to 'Edit', edit_user_path(@user) %>
      </div>
      <% end %>

    </div>

  </div> <!-- End of div 2 for sidebar -->

  <div class="span4">

  <% @i = 1 %>

  <table>

<!--   <tr class="thspace_right">
    <th>Pic</th>
    <th>Name</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr> -->

  <tr class="tdspace_right space_under">
    <% @useritems.each do |s| %>
    
    <% if s.image %>
    <td><%= link_to (image_tag s.image_url, :style => "width:100px; height:100px"), s %></td>
    <% else %>
    <td></td>
    <% end %>
    <td><%= link_to s.name, s %></td>
    <% if current_user.id == @user.id %>
    <td></td>
    <td><div style="position:relative; left:20px"><%= link_to 'Edit', edit_item_path(s), :class => "edit_link", :method => :get %></br>
    <%= link_to 'Delete', {:controller => 'items', :action => 'destroy', :id => s.id}, :class => "delete_link", :method => :delete %></div></td>
    <% end %>
    <!--Take note!  The s.id is very deliberate.  It's the user id, not an html id. Think twice before tampering -->
  </tr>

  <% @i+=1 %>

  <% end %>

</table>
  </div> <!-- Span 5 -->

<div class="span4">
  uncomment the code here to see your facebook friend list!<br>
  (and potentially what your friends might be selling)
  Actually in scratchwork.txt now.

</div>

</div>  