<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js">
</script> 
<script>
$(document).ready(function(){
  // $("#hide").click(function(){
  //   $(this).hide();
  // });
  // <p id="hide">Hide me</p>

$("#btn_grid").click(function(){
$("#grid_partial").toggle()
});
  
});
</script>

<%= set_title 'Search Results' %>

<style type="text/css">

</style>

<div class="row-fluid">
    <div class="span2"  >
        <div class="sidebar">
         <div id="tag_cloud">
            
            <% tag_cloud Item.tag_counts, %w[s m l] do |tag, css_class| %>
                <%= link_to tag.name, tag_path(tag.name), class: css_class %>
                <br>
            <% end %>
        </div>

        </div> <!--div for sidebar -->
    </div> <!-- div for span2 -->

<div class="span8">

<div class="btn-group" data-toggle="buttons-radio" style="padding:10px">
 <!--  <%= button_to 'Grid/List', items_path, :id => "btn_grid", :class => "btn", :method => :get %> -->

  <!-- , :remote => true -->
<button type="button" id="btn_grid" class="btn">Grid/List</button>
</div>

<% count = 0 %>

<br><!--Temp, will revamp everything-->

<table>

<% @items.each do |item| %>
	<% if count % 6 == 0 %> <tr class="tdspace_right space_above space_under"> <% end %>

	<td class="tdspace_right">
        <div class="image_decoration">
    	<%= link_to image_tag(item.image_url), item %>
        </div>
    	<br>
    	<div style="text-align:center">
    		<%= link_to item.name, item %><br>
            Tags: <%= raw item.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
    	</div>
    </td>

    <% if count % 6 == 5 %> </tr> <% end %>
    
	<% count += 1 %>
<% end %>

</table>



<!-- <p id="grid_partial" style="padding-top:20px"><%= render "items/mainpageitems" %></p> -->
<%= link_to "Grid/List", 'items/mainpageitems', id: "grid_partial", remote: true %>

</div> <!-- closing div tag for 'span10' from above -->

<div class="span2">
   
</div>

</div> <!-- closing div tag for 'row-fluid' from above -->

 


