<div class="span2">
  Yo
</div> <!--Span 10 closing div -->

<div class="span10">

<% @i = 1 %>

<table>

  <tr class="thspace_rig  ht">
    <th>Item</th>
    <th>Item ID</th>
    <th>User ID</th>
    <th>Name</th>
    <th>Image</th>
    <th>Description</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

  <tr class="tdspace_right space_under">
    <% @items.each do |s| %>
    <td><%= "#{@i}" %></td>
    <td><%= s.id %></td>
    <td><%= s.user_id %></td>
    <td><%= s.name %></td>
    <td class="result_image"><%= image_tag(s.image_url) %></td>
    <td><%= s.description %></td>

    <% if current_user.id == s.user_id %>
    <td><%= button_to 'Edit', edit_item_path(s), :class => "btn btn-small btn-info", :method => :get %> </td>
    <td><%= button_to 'Delete', {:controller => 'items', :action => 'destroy', :id => s.id}, :class => "btn btn-small btn-danger", :method => :delete %></td> <!--Take note!  The s.id is very deliberate.  It's the user id, not an html id. Think twice before tampering -->
    <% end %>
  </tr>

  <% @i+=1 %>

  <% end %>

</table>

</div> <!--Span 2 closing div -->
