<!DOCTYPE html>
<html>
  <head>
    <title>
    	<% if content_for? :title %> <%= yield :title%>
    	<% else %> HarvardList <% end %>
    </title>

    <%=stylesheet_link_tag "template3" %>
    <%= javascript_include_tag "application" %> 
    <%= csrf_meta_tags %>
  </head>

  <body>
    <!-- MODAL DIALOGS (not rendered inline) -->

    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Sign In</h3>
    </div>
    <div class="modal-body">
      <%= render 'devise/sessions/form' %>
      <%= render 'devise/shared/links' %>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
    </div>   

    

    <!-- NAVBAR -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <%= link_to "MITList", '/main', :class => "logo" %>
        <ul class="nav">
          <!--<li class="active"><a href="#">Home</a></li>-->
          <li class="divider-vertical"><%= link_to "Home", "/main" %></li>
          <li><%= link_to "Browse", items_path %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to "Looking For", '#' %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to "Search Classmate", "/users" %></li>
          <li>
        </ul>
        <ul class="nav pull-right">
            <li><%= link_to "Post", new_item_path %></li>
          <% if user_signed_in? %>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Account</a>
              <!--<b class="caret"></b>-->
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><%= link_to "Profile", "/users/#{current_user.id}" %></li>
                <% if current_user_facebook %>
                  <li><%= link_to "Unlink Facebook Account", logout_path %></li>
                <% else %>  
                  <li><%= link_to "Link Facebook Account", user_omniauth_authorize_path(:facebook) %></li>
                <% end %>
                <li class="divider"></li>
                <li><%= link_to('Sign Out', destroy_user_session_path, :method => :delete) %></li>
              </ul>
            </li>
          <% else %>
            <li><a href="#myModal" data-toggle="modal">Sign In</a></li>
          <% end %>
        </ul>
      </div>
    </div>

    <!-- TOP BAR IN SITE -->
    <div class="row-fluid">  
      <div class="span12">
        <div id="search_header_templatecss">
          <div class="container search-fields">
            <%= form_tag({:controller => items_path}, :method => "get", :class => "form-search search_form_templatecss") do %>
              <%= text_field_tag :query, params[:query], {:size => 40, :class => "search-query"} %>
              <%= submit_tag('Search', :class => "btn btn-primary") %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <!-- PAGE CONTENT -->
    <div id="main">
      <%= yield%> 
    </div>

    <!-- FOOTER -->
    <div class="row-fluid">
      <div class="span12">
        <div id="footer_templatecss">
          <ul id="footer_list" class="nav nav-pills">
            <li><%= link_to 'Users', '/users'%></li>
            <li><%= link_to 'Items List', '/itemslist'%></li>
            <li><%= link_to 'About', '/about'%></li>
            <li><%= link_to 'Items', '/items'%></li>
            <li><%= link_to 'Home', '/home' %></li>
          </ul>
        </div>
      </div>
    </div>
  </body>

</html>
